table{
  width: 100%;
  margin: 20px 0;
}
table, th, td{
  border: 1px solid black;
}
table th, table td{
  padding: 5px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
}

thead {
  background-color: #adadad;
}

#go-back {
  margin-top: 15px;
}
